<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PCPickr</title>
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" id="modalCSS" href="styles/modal.css">
    </head>

    <div class = "container">
        <body>
            <header>
                <section class = "cosmetic">

                    <!-- we should make this section a single image so that we dont need multiple html elements. -->
                    <img src="images/logo.jpg" alt="Picture of PC">
                    <h1>PCPickr</h1>
                </section>

                <section class = "login">
                    <p>Browsing as: GuestTEMP</p> 
                    <!-- Trigger/Open The Modal -->
                    <button id="myBtn">login</button>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <form action = "loginUser" method = "post">
                            <div class="modal-content">
                                <!-- close button -->
                                <span class="close">&times;</span>
            
                                <!-- actual form -->
                                <label><b>Username</b></label>
                                <input type="text" placeholder="Enter Username" name="userName" required>
                        
                                <label><b>Password</b></label>
                                <input type="passWord" placeholder="Enter Password" name="passWord" required>
                        
                                <button type="submit">Login</button>
                                <label>
                            </div>
                        </form>
                    </div>
                </section>
            </header>

        <main>
        <form action="thankyou" method="post">

            <div class="items">
                <div class="itemPic">
                    <img src="images/case_example.jpg" alt="A PC case">
                </div>
                <div class="nameDesc">
                    <h2>Item #1 Name</h2>
                    <p>[Item #1 Description]</p>
                </div>
                <div class="addToCartBtn">
                    <button>+</button>
                </div>
            </div>        
            <div class="items">
                <div class="itemPic">
                    <img src="images/case_example.jpg" alt="A PC case">
                </div>
                <div class="nameDesc">
                    <h2>Item #1 Name</h2>
                    <p>[Item #1 Description]</p>
                </div>
                <div class="addToCartBtn">
                    <button>+</button>
                </div>
            </div>
            <div class="items">
                <div class="itemPic">
                    <img src="images/case_example.jpg" alt="A PC case">
                </div>
                <div class="nameDesc">
                    <h2>Item #1 Name</h2>
                    <p>[Item #1 Description]</p>
                </div>
                <div class="addToCartBtn">
                    <button>+</button>
                </div>
            </div>   
            <div class="items">
                <div class="itemPic">
                    <img src="images/case_example.jpg" alt="A PC case">
                </div>
                <div class="nameDesc">
                    <h2>Item #1 Name</h2>
                    <p>[Item #1 Description]</p>
                </div>
                <div class="addToCartBtn">
                    <button>+</button>
                </div>
            </div>   
            <div class="items">
                <div class="itemPic">
                    <img src="images/case_example.jpg" alt="A PC case">
                </div>
                <div class="nameDesc">
                    <h2>Item #1 Name</h2>
                    <p>[Item #1 Description]</p>
                </div>
                <div class="addToCartBtn">
                    <button>+</button>
                </div>
            </div>   
            <div class="items">
                <div class="itemPic">
                    <img src="images/case_example.jpg" alt="A PC case">
                </div>
                <div class="nameDesc">
                    <h2>Item #1 Name</h2>
                    <p>[Item #1 Description]</p>
                </div>
                <div class="addToCartBtn">
                    <button>+</button>
                </div>
            </div>           

                    <!-- Place order button -->
                    <button type="submit">Build</button>
                    <hr>
                </form>
            </main>

                <aside>
                    <h2>Learning Resources</h2>
                    <ul>
                        <li><a href="#">MDN Web Docs</a></li>
                        <li><a href="#">freeCodeCamp</a></li>
                        <li><a href="#">Codecademy</a></li>
                        <li><a href="#">W3Schools</a></li>
                    </ul>
                </aside>
                <footer>
                    <a id="contact-button" href="#" role="button">Contact Us</a>
                </footer>
            <script src="scripts/login.js" defer></script>
        </body>
    </div>
</html>