<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" id="modalCSS" href="styles/modal.css">
</head>

<body>
    <header>
        <section class = "cosmetic">

            <!-- we should make this section a single image so that we dont need multiple html elements. -->
            <img src="images/logo.jpg" alt="Picture of PC">
            <h1>PCPickr</h1>
        </section>

        <section class = "login">
            <p>Browsing as: GuestTEMP</p> 
            <!-- Trigger/Open The Modal -->
            <button id="myBtn">login</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <form action = "loginUser" method = "post">
                    <div class="modal-content">
                        <!-- close button -->
                        <span class="close">&times;</span>
    
                        <!-- actual form -->
                        <label><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="userName" required>
                
                        <label><b>Password</b></label>
                        <input type="passWord" placeholder="Enter Password" name="passWord" required>
                
                        <button type="submit">Login</button>
                        <label>
                    </div>
                </form>
            </div>
        </section>
    </header>

    <main>
        <form action="thankyou" method="post">
            <fieldset>
                <legend>Case</legend>
                <select name="size" id="size">
                    <option value="none">-- Select a Case --</option>
                    <option value="small">Case 1</option>
                    <option value="med">Case 2</option>
                    <option value="large">Case 3</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>GPU</legend>

                <select name="size" id="size">
                    <option value="none">-- Select a GPU --</option>
                    <option value="small">GPU 1</option>
                    <option value="med">GPU 2</option>
                    <option value="large">GPU 3</option>
                </select>
            </fieldset>

            <fieldset>
                <legend>CPU</legend>

                <select name="size" id="size">
                    <option value="none">-- Select a Case --</option>
                    <option value="small">CPU 1</option>
                    <option value="med">CPU 2</option>
                    <option value="large">CPU 3</option>
                </select>
            </fieldset>

            <!-- Place order button -->
            <button type="submit">Submit</button>
            <hr>
            <a id="contact-button" href="#" role="button">Contact Us</a>
        </form>
    </main>
    <script src="scripts/login.js" defer></script>
</body>
</html>